{% extends "layout.html" %}
{% block title %}Dashboard{% endblock %}
{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Dashboard</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <button class="btn btn-primary btn-block" onclick="location.href='/compare1'">Compare doc type 1</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-warning btn-block" onclick="location.href='/compare2'">Compare doc type 2</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-info btn-block" onclick="location.href='/compare3'">Compare doc type 3</button>
        </div>
        <div class="col-md-3">
          <button class="btn btn-success btn-block" onclick="location.href='/compare4'">Compare doc type 4</button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}