{% extends "layout.html" %} {% block title %}Dashboard{% endblock %} {% block
content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <button class="btn btn-danger" onclick="location.href='/logout'">Logout</button>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container mt-5">
  <div class="card">
    <div class="card-header">
      <h2>Dashboard for EMD Bank Guarantee</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3">
          <button
            class="btn btn-primary btn-block"
            onclick="location.href='/tender'"
          >
            Create Evaluation Task
          </button>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-warning btn-block"
            onclick="location.href='/my_tenders'"
          >
            Previous Evaluation Task
          </button>
        </div>
        <!-- <div class="col-md-3">
          <button
            class="btn btn-info btn-block"
            onclick="location.href='/task3'"
          >
            Previous History
          </button>
        </div>
        <div class="col-md-3">
          <button
            class="btn btn-success btn-block"
            onclick="location.href='/task4'"
          >
            Completed Task
          </button> -->
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
