<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Login</title>
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
   
  </head>
  <body>
     <!-- Bootstrap Header -->
     <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <!-- Left Image -->
        <div class="navbar-brand">
          <img src="static/NTPC Logo.jpg" alt="Left Image" class="img-fluid" style="max-height: 180px;">
        </div>
        <!-- Center Image -->
        <div class="navbar-brand mx-auto">
          <img src="static/1. 50 yrs Logo Eng Colour.png" alt="Center Image" class="img-fluid" style="max-height: 180px;">
        </div>
        <!-- Right Image -->
        <div class="navbar-brand ml-auto">
          <img src="static/USSC.jpg" alt="Right Image" class="img-fluid" style="max-height: 120px;">
        </div>
      </div>
    </nav>
    <h1 class="text-center">AI tool for Tender Management</h1>
    <!-- Bootstrap Header End -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h2>Login</h2>
            </div>
            <div class="card-body">
              <form method="post" action="/login">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Bootstrap JS and dependencies -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  </body>
</html>