{% extends "layout.html" %}

{% block title %}Login{% endblock %}

{% block content %}
<h1 class="text-center">Document Review and Evaluation Tool</h1>
    <!-- Bootstrap Header End -->
    <div class="container mt-5">
      <div class="row justify-content-center">
        <div class="col-md-4">
          <div class="card">
            <div class="card-header">
              <h2>Login</h2>
            </div>
            <div class="card-body">
              <form method="post" action="/login">
                <div class="form-group">
                  <label for="username">Username</label>
                  <input type="text" class="form-control" id="username" name="username" required>
                </div>
                <div class="form-group">
                  <label for="password">Password</label>
                  <input type="password" class="form-control" id="password" name="password" required>
                </div>
                <button type="submit" class="btn btn-primary btn-block">Login</button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}