{% extends "layout.html" %} {% block title %}Upload Master Bank Guarantee
Document{% endblock %} {% block content %}
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">
          <h2>Upload NTPC bank guarantee proforma/format (docx supported)</h2>
        </div>
        <div class="card-body">
          <form method="post" enctype="multipart/form-data">
            <div class="form-group">
              <label for="master_pdf"
                >Upload NTPC bank guarantee proforma/format (docx supported)</label
              >
              <input
                type="file"
                class="form-control-file"
                id="master_pdf"
                name="master_pdf"
                required
              />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              Next
            </button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
